@import 'bootstrap/scss/bootstrap';

@font-face {
  font-family: 'IranSans';
  src: url(~/assets/fonts/IranSans/IRANSansWebFaNum.eot),
    url(~/assets/fonts/IranSans/IRANSansWebFaNum.woff) format('woff'),
    url(~/assets/fonts/IranSans/IRANSansWebFaNum.ttf) format('truetype');
}

@font-face {
  font-family: 'IranSansBold';
  src: url(~/assets/fonts/IranSansBold/IranSansBold.eot),
    url(~/assets/fonts/IranSansBold/IranSansBold.woff) format('woff'),
    url(~/assets/fonts/IranSansBold/IranSansBold.ttf) format('truetype');
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

html {
  scroll-behavior: smooth;
}

.container {
  width: 100% !important;
  padding-right: 15px !important;
  padding-left: 15px !important;
  margin-right: auto !important;
  margin-left: auto !important;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px !important;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px !important;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px !important;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px !important;
  }
}

.page-title {
  font-size: 1.7rem;
  color: var(--hero-text);
  font-family: 'IranSansBold';
  text-align: center;
  padding: 2em 0 0.8em 0;

  .page-subtitle {
    font-family: 'IranSans';
    display: block;
    color: var(--hero-text);
    font-size: 1rem;
    padding: 1em 0;
  }

  .icon {
    font-size: 2.5rem;
    display: block;
    padding-bottom: 0.1em;
    margin: 0;
    text-align: center;
  }
}

.section-header {
  font-size: 1.2rem;
  color: #334155;
  letter-spacing: -0.02em;
  font-family: 'IranSansBold';
  text-align: right;
}

.section-subheader {
  font-size: 0.9rem;
  color: #737a85;
  text-align: right;
  padding-top: 3px;
}

.animation-on-hover:hover {
  background-position: 0 100%;
  transition: 0.3s ease-in-out;
}

::-moz-selection {
  color: #fff;
  background: #027fc2;
}

::selection {
  color: #fff;
  background: #027fc2;
}
